#----------------------------------------------------------------------
# quasi88.rc
#
#       This a configuration file for the UNIX version of Quasi88.
#	This file shold be copied into ~/.quasi88/quasi88.rc.

#	One line is maximum 255 characters.
#	# indicates a line comment.
#----------------------------------------------------------------------


#########################################
#	PC-8801 Startup Env.		#
#########################################

######## BASIC MODE		( -n/-v1s/-v1h/-v2. Unset will detect automatically.)
#-v2
-v1s

# V1 "slow" mode is the default for PC8801 and is what is used for Hachinoid.
# V2 is used for The Librarian.

######## CPU Clock		( -4mhz/-8mhz. Default is 4mhz. )
#-8mhz
-4mhz

# Only the later PC-88 machines used 8mhz, and not very many games utilized it.

######## Dipswitches	( Settings are the same as a new unit. Undefined is 0x391a )
-dipsw		0x391a

# examples:
#12 = 25 row mode
#1c = n80 basic,40col,20r
#1e = 40 col,n88,20r
#1a = n88, 80col,20r
#18 = terminal


######## Soundboard Select	( -sd/-sd2. Default is -sd )
#-sd2
-sd

# Soundboard II contains OPNA, Soundboard I (standard built-in for many units) is OPN.

######## Joystick Settings	( -nomouse/-mouse/-joymouse/-joystick )
-nomouse



#########################################
#	Emulation Settings		#
#########################################

######## Sub CPU A-Switch Timing  ( Selected from 0-2, default 0 )
# Set to -cpu 1 should allow most applications to run.
-cpu 2

# CPU 2 is more accurate. 

######## FDC Wait Enable	( Default is disabled )
# Without -fdc_wait some games won't run.
-fdc_wait

######## Actual unit speed	( 5～5000 [%], default is 100% )
#-speed		100

######## Memory Wait
# Enables the memory sync timing to CPU. Should be on for accuracy.
-mem_wait


#################################
#	Graphics Settings	#
#################################

######## Frame display rate  ( Default is 1. )
#-frameskip	1

######## Auto frameskip	( -autoskip/-noautoskip )
#-autoskip

######## Screen size	( -half/-full. Default is -full )
#-half

######## Window Size	( Default is the same as screen size )
#-width		680
#-height	440

######## Interlace settings	( -noskipline/-skipkine/-interlace )
-noskipline

######## Monitor settings (-15k/-24k to select KHz model)
#-15k
-24k

#########################################################
#	Sound Settings (Only when sound is enabled)	#
#########################################################

######## Sound output enable	( -sound/-nosound. Default is  -sound )
-sound

######## fmgen enable	( -fmgen/-nofmgen. Default is -nofmgen)
-nofmgen

######## Output[db]		( -32～0 )
#-volume	-3

######## Sound output level[%]  ( 0～100 )
#-fmvol		100
-psgvol	50
-beepvol	60
#-rhythvol	100
#-adpcmvol	70



#################################
#	Other settings		#
#################################

######## Load key settings from file
#-keyboard 0

######## Change key binding
#-tenkey
-cursor
#-kanjikey

######## The author has made these function key assignments:
#-f6	IMAGE-NEXT1
#-f7	IMAGE-NEXT2
#-f8	NOWAIT
#-f9	ROMAJI
#-f10	NUMLOCK


#################################
#	Other/misc		#
#################################

######## ROM Directory Path
-romdir	"/home/pi/Downloads/quasi88-0.6.4/rom/"

######## DISK Directory Path
-diskdir	"/home/pi/Projects/pc88-c"

######## TAPE Directory Path
#-tapedir	"/path/of/tape/image"

######## P88SR.EXE Rom EXE Path	( Unset means unused )
#-compatrom	/file/name/of/rom/image

######## Verbose mode	( Default is 0 )
-verbose 1

######## Grab mouse (Lock to window)
#-grab_mouse

######## Don't show mouse
#-hide_mouse


#################################
#    Debugger                   #
#################################

####### Enable Monitor ( Default is off )
-debug
